/* Addapted from https://codepen.io/Schepp/pen/WNbQByE */

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

.carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}


/* .carousel *::-webkit-scrollbar {
    width: 0;
} */


/* .carousel *::-webkit-scrollbar-track {
    background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

.carousel * {
    -ms-overflow-style: none;
} */

.carousel ol,
.carousel li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    /* padding-top: 75%; */
    perspective: 100px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    /* counter-reset: item; */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
    background: white;
}

.carousel__slide:focus {
    outline: none;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel__snapper {
    animation-name: none;
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel_prev,
.carousel_next {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.carousel__prev {
    left: -1rem;
    background-image: url(images/left.gif);
}


/* .carousel::after, */

.carousel__next {
    right: -1rem;
    background-image: url(images/right.gif);
}


/* .carousel::before, */

.carousel::after {
    content: '';
    z-index: 1;
    /* background-color: #333; */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("images/left.gif");
}

.carousel::after {
    background-image: url("images/right.gif");
}